*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    background-color: #e5e5e5;
    padding: 30px;
    text-align: justify;
    margin: 5px;
    font-family: Verdana;
    color: black;
    font-size: 15px;

}

.menu{
    width: 20%;

}

.container{
    display: flex;
}

.main{
    width: 60%;
    padding: 0 20px;
}   

.about{
    width: 20%;
    background-color: #b9e7e3;
    text-align: center;
    padding: 15px;
    margin: 5px;
   
}

.menu a{
    display: block;
    padding: 8px;
    margin-top: 7px;
    text-decoration: none;
    color: black;
}

img{
    width: 750px;
}

@media screen and (max-width:800px){
    .container{
        flex-direction: column;
    }
    .container div{
        width: 100%;
    }
}

@media screen and (max-width: 700px){
    .about{
        flex-direction: column;
    }
    .about div{
        width: 100%;
    }
}